/* variables */
$font-family-title : "Quicksand";
$font-family-text : "Poppins, sans-serif";
$remixico: 'remixicon';

$title-color: #393f4a;
$text-color: #808c8c;
$footer-text-color: #a1adaf;

$primary: #4b9097;
$secondary: #393f4a;
$primary-tran: rgba(75, 143, 151, 0.8);
$green: #477f72;
$body-bg: #f3feff;
$red: #eb3049;
$body-bg: #eff4f7;
$card-bg: #eff4f7;
$card-bg-light: #f7fafb;
$card-border: #eaebeb;
$backdrop: rgba(0, 0, 0, .9);
$fff: #fff;
$bg-fff: #fff;
$btn-black: #212529;
$text-f8f8f8: #f8f8f8;
$bg-gradient: linear-gradient(#fff, #f8f8fb);
$faq-bg: #f8f8fb;
$text-999: #999;
$text-000: #000;
$text-fff: #fff;
$text-ddd: #ddd;
$text-bbb: #bbb;
$text-777: #777;
$black: #212529;
$black-04: rgba(0, 0, 0, 0.4);
$black-06: rgba(0, 0, 0, 0.6);
$black-08: rgba(0, 0, 0, 0.8);
$black-09: rgba(0, 0, 0, 0.9);
$close-color: #ff0000;
$bg-two-secondary : #f5f5f5;
$services-ico: #957243;
$dark-off: rgba(0, 0, 0, 0.03);
$secondary-2 : #1c2023;
$bg-f5f5f5: #f5f5f5;
$bg-f9f9f9: #f9f9f9;
$bg-9e9e9e: #9e9e9e;
$light-gray: #eff0f5;
$border-color: #eff0f5;
$border-bbb: #bbb;
$border-eee: #eee;
$border-ddd: #ddd;
$border-fff: #fff;
$border-000: #000;
$border-dark-color: #393e48;
$range-slider: #e0e2ed;
$color-1: #8118d5;
$color-2: #5f6af5;
$color-3: #f5885f;
$color-4: #32dbe2;
$color-5: #3f51b5;
$color-6: #f44336;
$color-7: #e91e63;
$color-8: #607d8b;
$color-9: #03492f;

$radius-0: 0;
$radius-5: 5px;
$radius-10: 10px;
$radius-15: 15px;
$radius-20: 20px;
$radius-30: 30px;
$radius-40: 40px;
$radius-50: 50px;

$black-glass: rgba(0, 0, 0, 0.5);
$box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.11);

$color-1: #8d56f5;
$color-2: #6078ff;
$color-3: #f5885f;
$color-4: #32dbe2;
$color-5: #3f51b5;
$color-6: #f44336;
$color-7: #e91e63;
$color-8: #607d8b;
$color-9: #03492f;