/*  Color 6  */
/* Utilities ( Import Utilities ) */
/* variables */
.sp-cursor:before {
  background: #f44336;
}

::-moz-selection {
  background: #f44336;
}

::selection {
  background: #f44336;
}

.sp-btn,
.sp-btn-1 {
  color: #f44336;
  border-color: #f44336;
}
.sp-btn:hover,
.sp-btn-1:hover {
  background-color: #f44336;
}

.sp-btn-3:hover {
  background-color: #f44336;
}

.sp-btn-4 {
  background-color: #f44336;
}

.sp-header .sp-main-menu-desk .sp-inner-menu-desk .sp-dropdown-menu .inner-select svg path,
.sp-header-2 .sp-main-menu-desk .sp-inner-menu-desk .sp-dropdown-menu .inner-select svg path {
  stroke: #f44336;
}
.sp-header .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav .sp-dropdown .sp-dropdown-menu li a:hover,
.sp-header-2 .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav .sp-dropdown .sp-dropdown-menu li a:hover {
  color: #f44336;
}
.sp-header .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav li:hover a.nav-link,
.sp-header-2 .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav li:hover a.nav-link {
  color: #f44336;
}
.sp-header .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav li a svg path,
.sp-header-2 .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav li a svg path {
  stroke: #f44336;
}
.sp-header .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav .sp-main-dropdown .mega-menu li a:hover,
.sp-header-2 .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav .sp-main-dropdown .mega-menu li a:hover {
  color: #f44336;
}
.sp-header .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav .sp-main-dropdown .mega-menu .menu_title a,
.sp-header-2 .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav .sp-main-dropdown .mega-menu .menu_title a {
  color: #f44336;
}
.sp-header .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav .sp-main-dropdown .img-menu li img:hover,
.sp-header-2 .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav .sp-main-dropdown .img-menu li img:hover {
  border-color: #f44336;
}
.sp-header .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav .sp-main-dropdown .img-menu li a:hover,
.sp-header-2 .sp-main-menu-desk .sp-inner-menu-desk .sp-main-menu ul.navbar-nav .sp-main-dropdown .img-menu li a:hover {
  color: #f44336;
}
.sp-header .top-header .inner-top-header .col-right-bar .cols .dropdown a:hover,
.sp-header-2 .top-header .inner-top-header .col-right-bar .cols .dropdown a:hover {
  color: #f44336;
}
.sp-header .header-search .sp-btn-group-form input,
.sp-header-2 .header-search .sp-btn-group-form input {
  border-color: #f44336;
}
.sp-header .header-search .sp-btn-group-form .inner-select,
.sp-header-2 .header-search .sp-btn-group-form .inner-select {
  border-color: #f44336;
}
.sp-header .header-search .sp-btn-group-form button:hover i,
.sp-header-2 .header-search .sp-btn-group-form button:hover i {
  color: #f44336;
}
.sp-header .bottom-header .inner-bottom-header .sp-header-buttons .sp-acc-drop .sp-dropdown-menu li a:hover,
.sp-header .bottom-header .inner-bottom-header .sp-header-buttons .sp-wish-drop .sp-dropdown-menu li a:hover,
.sp-header-2 .bottom-header .inner-bottom-header .sp-header-buttons .sp-acc-drop .sp-dropdown-menu li a:hover,
.sp-header-2 .bottom-header .inner-bottom-header .sp-header-buttons .sp-wish-drop .sp-dropdown-menu li a:hover {
  color: #f44336;
}
.sp-header .bottom-header .inner-bottom-header .sp-header-buttons .sp-acc-drop .sp-dropdown-menu li a:hover i,
.sp-header .bottom-header .inner-bottom-header .sp-header-buttons .sp-wish-drop .sp-dropdown-menu li a:hover i,
.sp-header-2 .bottom-header .inner-bottom-header .sp-header-buttons .sp-acc-drop .sp-dropdown-menu li a:hover i,
.sp-header-2 .bottom-header .inner-bottom-header .sp-header-buttons .sp-wish-drop .sp-dropdown-menu li a:hover i {
  color: #fff;
}
.sp-header .bottom-header .inner-bottom-header .sp-header-buttons .sp-acc-drop div.sp-wish-items li .sp-wish-contact span.wish-price .stock,
.sp-header .bottom-header .inner-bottom-header .sp-header-buttons .sp-wish-drop div.sp-wish-items li .sp-wish-contact span.wish-price .stock,
.sp-header-2 .bottom-header .inner-bottom-header .sp-header-buttons .sp-acc-drop div.sp-wish-items li .sp-wish-contact span.wish-price .stock,
.sp-header-2 .bottom-header .inner-bottom-header .sp-header-buttons .sp-wish-drop div.sp-wish-items li .sp-wish-contact span.wish-price .stock {
  color: #f44336;
}

.select-options li:hover {
  color: #f44336;
}

.sp-hero h1 {
  color: #f44336;
}
.sp-hero .sp-info ul .add-icon {
  background-color: #f44336;
}

.sp-hero-2 h1,
.sp-hero-2 h2,
.sp-hero-2 h1,
.sp-hero-2 h2 {
  color: #f44336;
}

.sp-category-popup .sp-category-search input {
  border-color: #f44336;
}
.sp-category-popup .sp-category-search button:hover {
  background-color: #f44336;
}
.sp-category-popup .sp-category-search .sp-cat-list ul .list.active {
  background-color: #f44336;
}
.sp-category-popup .sp-category-search .sp-cat-list ul .list.active:hover {
  border-color: #f44336;
  background-color: #f44336;
}
.sp-category-popup .sp-category-search .sp-cat-list ul li:hover {
  border-color: #f44336;
}
.sp-category-popup .sp-category-search .sp-cat-list ul li:hover a {
  color: #f44336;
}

.sp-banner .sp-wish,
.sp-banner-2 .sp-wish {
  border-color: #f44336;
  color: #f44336;
}
.sp-banner .sp-wish:hover,
.sp-banner-2 .sp-wish:hover {
  background-color: #f44336;
  color: #fff;
}

.section-detail .sp-title p {
  color: #f44336;
}

.sp-about .sp-img-box .sp-detail .info,
.sp-about-2 .sp-img-box .sp-detail .info {
  background-color: #f44336;
}
.sp-about .sp-details .list .icon,
.sp-about-2 .sp-details .list .icon {
  border-color: #f44336;
}
.sp-about .sp-details .list .icon svg path,
.sp-about-2 .sp-details .list .icon svg path {
  fill: #f44336;
}
.sp-about .sp-details .list .icon svg .cls-1,
.sp-about-2 .sp-details .list .icon svg .cls-1 {
  fill: none;
  stroke: #f44336;
}

.sp-category .sp-category-block .category-detail .category-img,
.sp-category-2 .sp-category-block .category-detail .category-img {
  border-color: #f44336;
}
.sp-category .sp-category-block .category-detail .category-img:after,
.sp-category-2 .sp-category-block .category-detail .category-img:after {
  border-color: #f44336;
}
.sp-category .sp-category-block .category-detail .category-info,
.sp-category-2 .sp-category-block .category-detail .category-info {
  border-color: #f44336;
}
.sp-category .sp-category-block .category-detail .category-info h5 a:hover,
.sp-category-2 .sp-category-block .category-detail .category-info h5 a:hover {
  color: #f44336;
}

.section-detail.detail-two .sp-tab ul .nav-item a.active {
  background-color: #f44336;
}

.sp-pro-box .sp-pro-img .sp-pro-actions .sp-btn-group:hover a,
.sp-pro-box-2 .sp-pro-img .sp-pro-actions .sp-btn-group:hover a {
  background-color: #f44336;
  border-color: #f44336;
}
.sp-pro-box .sp-pro-img .sp-pro-actions .sp-btn-group .sp-wishlist.active,
.sp-pro-box .sp-pro-img .sp-pro-actions .sp-btn-group .sp-compare.active,
.sp-pro-box .sp-pro-img .sp-pro-actions .sp-btn-group .add-to-cart.active,
.sp-pro-box-2 .sp-pro-img .sp-pro-actions .sp-btn-group .sp-wishlist.active,
.sp-pro-box-2 .sp-pro-img .sp-pro-actions .sp-btn-group .sp-compare.active,
.sp-pro-box-2 .sp-pro-img .sp-pro-actions .sp-btn-group .add-to-cart.active {
  background-color: #f44336;
  border-color: #f44336;
}
.sp-pro-box .sp-pro-details .sp-price .inner-price .item-left,
.sp-pro-box-2 .sp-pro-details .sp-price .inner-price .item-left {
  color: #f44336;
}
.sp-pro-box .sp-pro-details h4.sp-pro-title a:hover,
.sp-pro-box-2 .sp-pro-details h4.sp-pro-title a:hover {
  color: #f44336;
}

.sp-popup-notify a {
  color: #f44336;
}
.sp-popup-notify p {
  border-color: #f44336;
}
.sp-popup-notify p .red {
  color: #f44336;
}

.sp-pro-rating .ri-star-fill {
  color: #f44336;
}

.sp-ser-inner .sp-service-image svg path {
  fill: #f44336;
}

.sp-collection-block .collection-detail .collection-info {
  border-color: #f44336;
}
.sp-collection-block .collection-detail .collection-info h5 a:hover {
  color: #f44336;
}

.sp-vendor-list .nav-tabs .nav-link.active {
  border-color: #f44336;
}
.sp-vendor-list .nav-tabs .nav-link:hover {
  border-color: #f44336;
}
.sp-vendor-list .nav-tabs .nav-item .nav-img {
  border-color: #f44336;
}

.sp-deal .deal-box,
.sp-deal-2 .deal-box {
  border-color: #f44336;
}
.sp-deal .deal-box h3 span,
.sp-deal-2 .deal-box h3 span {
  color: #f44336;
}
.sp-deal .box-2 .deal-detail .limit svg,
.sp-deal-2 .box-2 .deal-detail .limit svg {
  fill: #f44336;
}

.sp-product-popular .owl-nav button:hover {
  border-color: #f44336 !important;
  background-color: #f44336;
}

.sp-testimonial .sp-testimonial-box .sp-detail .sp-icon i {
  color: #f44336;
}
.sp-testimonial .owl-nav button:hover {
  background-color: #f44336;
  border-color: #f44336 !important;
}

.sp-blog-box .sp-blog-info h3 a:hover,
.sp-blog-box-2 .sp-blog-info h3 a:hover {
  color: #f44336;
}
.sp-blog-box .sp-blog-info .sp-post a,
.sp-blog-box-2 .sp-blog-info .sp-post a {
  color: #f44336;
}
.sp-blog-box .sp-blog-detail .sp-read:hover,
.sp-blog-box-2 .sp-blog-detail .sp-read:hover {
  color: #f44336;
}

.sp-footer .footer-top .sp-footer-social .sp-footer-widget .sp-footer-links .sp-footer-link a:hover,
.sp-footer-2 .footer-top .sp-footer-social .sp-footer-widget .sp-footer-links .sp-footer-link a:hover {
  background-color: #f44336;
}
.sp-footer .footer-top .sp-footer-widget .sp-footer-links .sp-footer-link a:hover,
.sp-footer-2 .footer-top .sp-footer-widget .sp-footer-links .sp-footer-link a:hover {
  color: #f44336;
}

.footer-bottom .sp-copy .site-name:hover {
  color: #f44336;
}

a.back-to-top {
  border-color: #f44336;
}
a.back-to-top svg path {
  stroke: #f44336;
}

.sp-breadcrumb .sp-breadcrumb-list li a,
.sp-breadcrumb-2 .sp-breadcrumb-list li a {
  color: #f44336;
}

.sp-team-section .sp-team-box .sp-team-img .sp-team-socials ul li a:hover {
  background-color: #f44336;
}
.sp-team-section .owl-nav button:hover {
  background-color: #f44336;
  border-color: #f44336 !important;
}

.sp-single-blog-item .single-blog-info .single-blog-detail label a {
  color: #f44336;
}

.sp-pro-pagination ul li a.active {
  background-color: #f44336;
}
.sp-pro-pagination ul li a:hover {
  background-color: #f44336;
}
.sp-pro-pagination ul li a.next {
  background-color: #f44336;
}

.sp-blog-comments .sp-single-comment-wrapper .sp-blog-comment-content .sp-blog-details-btn a {
  color: #f44336;
}

.sp-blogs-sidebar .sp-sidebar-block .sp-sidebar-block-item .sp-sidebar-block-detial a {
  color: #f44336;
}
.sp-blogs-sidebar .sp-sidebar-block .sp-sidebar-block-item .checked:after {
  background: #f44336;
  border-color: #f44336;
}

.sp-accordion.style-1 .sp-accordion-body code {
  color: #f44336;
}

.sp-single-product .sp-single-rating i {
  color: #f44336;
}
.sp-single-product .single-pro-content .sp-single-price .final-price .price-des {
  color: #f44336;
}
.sp-single-product .single-pro-content .sp-single-rating-wrap .sp-read-review a:hover {
  color: #f44336;
}
.sp-single-product .single-pro-content .sp-single-price-stoke .sp-single-ps-title {
  color: #f44336;
}
.sp-single-product .single-pro-content .sp-pro-variation .sp-pro-variation-inner .sp-pro-variation-content li.active {
  background-color: #f44336;
}
.sp-single-product .single-pro-content .sp-single-qty .sp-single-cart .sp-btn-1 {
  border-color: #f44336;
}
.sp-single-product .single-pro-content .sp-single-qty .sp-single-cart .sp-btn-1 svg path {
  stroke: #f44336;
}
.sp-single-product .single-pro-content .sp-single-qty .sp-btn-group:hover {
  border-color: #f44336;
  background-color: #f44336;
}
.sp-single-product .single-nav-thumb .slick-slide.slick-current.slick-active img {
  border-color: #f44336;
}
.sp-single-product .single-nav-thumb .slick-slide img:hover {
  border-color: #f44336;
}
.sp-single-product .single-add-more .add-more-item.sp-active {
  border-color: #f44336;
}
.sp-single-product .single-add-more .add-more-item.sp-active .add {
  border-color: #f44336;
  background-color: #f44336;
}
.sp-single-product .sp-single-pro-tab-nav .nav-tabs .nav-link.active {
  border-color: #f44336;
  background-color: #f44336;
}
.sp-single-product .sp-single-pro-tab-nav .nav-tabs .nav-link:hover {
  border-color: #f44336;
  background-color: #f44336;
}
.sp-single-product .sp-single-pro-tab-content .sp-t-review-item .sp-t-review-top .sp-t-review-rating i,
.sp-single-product .sp-single-pro-accordion-content .sp-t-review-item .sp-t-review-top .sp-t-review-rating i {
  color: #f44336;
}

.sp-shop-sidebar .sp-sidebar-block .sp-sidebar-block-item .checked:after {
  background: #f44336;
  border-color: #f44336;
}

.sp-price-range-slider .noUi-horizontal .noUi-handle {
  border-color: #f44336;
}
.sp-price-range-slider .noUi-horizontal .noUi-handle:hover {
  background: #f44336;
}

.sp-pro-list-top .sp-gl-btn .grid-btn.active {
  border-color: #f44336;
  background: #f44336;
}

.sp-track-order .sp-track-list .sp-track-block.active .sp-step-icon i {
  color: #f44336;
}
/*# sourceMappingURL=color-6.css.map */